NEXT_PUBLIC_SITE_URL=https://zynapse.eu
NEXT_PUBLIC_ANALYTICS_ID=
GOOGLE_SITE_VERIFICATION=
BING_SITE_VERIFICATION=
WAITLIST_WEBHOOK_URL=
INTAKE_WEBHOOK_URL=
NOTIFY_EMAIL=ops@zynapse.eu
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
