# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/docs
/public/*
!/public/brand/
!/public/brand/**
!/public/logo/
/public/logo/*
!/public/logo/Wortmarke1.png
!/public/logo/Wortmarke2.png
!/public/logo/VectorBright1.png
!/public/logo/LogoVector1.png
!/public/logo/LogoSimple.png
!/public/videos/
!/public/videos/**

# testing
/coverage
/playwright-report
/test-results

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.claude

# debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# local scaffolding
/temp-app
